:host {
  display: block;
}

.operations {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.centered {
    justify-content: center;
    gap: 32px;
  }
}

.operation {
  text-align: center;
  font-size: 13px;
  font-weight: 500;

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: #252832;
    border-radius: 12px;
    border: 0;
    margin-bottom: 8px;

    &:not(.disabled),
    &:not(:disabled) {
      cursor: pointer;
    }

    &.disabled,
    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
