main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  gap: 48px;
  width: 100%;
}

.divider {
  width: 1px;
  background: #344535;
}

.phone-wrapper {
  padding: 48px 16px;
  border-radius: 32px;
  background-color: black;

  .container {
    width: 375px;
    height: 667px;
    background-color: #181A20;
    overflow: hidden;
    color: #ffffff;
  }
}
