<div class="wallet-body">
  <div class="wallet-cards">
    <app-wallet-card
      [cdkCopyToClipboard]="address"
      [address]="address"
      [balance$]="balance$"
    ></app-wallet-card>
  </div>

  <app-asset-operations class="wallet-operations"></app-asset-operations>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>Tokens</ng-template>
      <app-tokens-list></app-tokens-list>
    </mat-tab>

    <mat-tab disabled>
      <ng-template mat-tab-label>History</ng-template>
      <app-history></app-history>
    </mat-tab>
  </mat-tab-group>
</div>
