:host {
  display: block;
  padding: 0 var(--app-padding);
}

.wallet-address {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background-color: var(--form-control-bg);
  border-radius: 16px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  margin-top: -8px;
}

qrcode {
  text-align: center;

  ::ng-deep {
    canvas {
      border-radius: 16px;
    }
  }
}
